name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org' # Needed for auth

      - name: yarn install
        uses: backstage/actions/yarn-install@c3038aa5576b9cd845ccc518ef854d3660e8cb40 # v0.7.6
        with:
          cache-prefix: ${{ runner.os }}-v20

      - name: Compile TypeScript
        run: yarn tsc

      - name: Build all packages
        run: yarn build:all

      - name: Setup yarn auth
        run: yarn config set -H 'npmAuthToken' "${{secrets.NPM_TOKEN}}"

      - name: Publish
        id: changesets
        uses: changesets/action@c48e67d110a68bc90ccf1098e9646092baacaa87
        with:
          version: node .github/changeset-version.cjs
          publish: yarn publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
